#username,#password, #registerUsername, #registerPassword, #registerConfirm {
	font-weight: bold;
	font-size: 100% !IMPORTANT;
	text-align: center;
	background: #333;
	color: #fff;
	border: 2px solid #000;
	border-radius: 5px;
}

#gameOver{
	font-weight: bold;
	font-size: 100% !IMPORTANT;
	text-align: center;
	background: #333;
	color: #fff;
	border: 4px solid #000;
	border-radius: 30px;
}

#button1,#button2,#button3,#button4,#playButton,#register,#backButton, #post {
    background: #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DEDEDE');
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DEDEDE));
    background: -moz-linear-gradient(top,  #FFFFFF,  #DEDEDE);
    background: -ms-linear-gradient(top,  #FFFFFF,  #DEDEDE);
    background: -o-linear-gradient(top,  #FFFFFF,  #DEDEDE);
    color: #000;
    border: 1px solid #666;
    opacity: 0.80;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    font-size: 100% !important;
    line-height: 0.8em;
}
#playButton,#register,#backButton, #post {
background: #f7941d;
    outline: none;
    border-radius: 30px;
    border: 2px solid #666;
    opacity: 0.9;
    font-weight: bold;
    font-size: 100% !IMPORTANT;
}
#playButton:hover,#register:hover,#backButton:hover, #post:hover {
    
    background: #fbb969;
}
#button1:hover,#button2:hover,#button3:hover,#button4:hover {
    opacity: 1.0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

#button1:active,#button2:active,#button3:active,#button4:active,#playButton:active {
    background: #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE', endColorstr='#FFFFFF');
    background: -webkit-gradient(linear, left top, left bottom, from(#DEDEDE), to(#FFFFFF));
    background: -moz-linear-gradient(top,  #DEDEDE,  #FFFFFF);
    background: -ms-linear-gradient(top,  #DEDEDE,  #FFFFFF);
    background: -o-linear-gradient(top,  #DEDEDE,  #FFFFFF);
}